{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
  <section class="container">
      {% if card.name != 'empty name' : %}
      <article class="row justify-content-center">
        <h1 id="card-name-title" value="{{card.id}}">{{ card.name }}</h1>
        <h2><em><small></small></em></h2>
        <div class="border col-4">
          <div class="image-card w-75 m-auto"><img class="w-100" src="{{media[1].path}}" alt="1{{media[1].alt}}" title={{media[1].title}}/></div>
        </div>
        <ul class="border col-4 ">
            <li class="m-2 row justify-content-start align-items-center">
              <h5 class="col-4">Rareté :</h5>  
              <img class="col-3" src="/static/img/mana/symbol_{{info[0][0].rarity}}.png" alt="{{ info[0][0].rarity.capitalize() }}" title="{{ info[0][0].rarity.capitalize() }}" class="resp"></span></li>          
            <li class="m-2 row justify-content-start align-items-center">
              <h5>Edition : <strong class="ms-4">{{ info[0][0].edition.capitalize() }}</strong></h5></li>
            <li class="m-2 row justify-content-start align-items-center">
                <h5 class="col-3">CCM :</h5> 
                {% if card.ccm == none : %}
                  <em>aucun</em>
                {% else : %}
                    <span class="d-flex justify-content-center align-content-center flex-wrap col-6">
                        {% for elm in card.ccm : %}
                            {% if elm in ['0','1','2','3','4','5','6','7','8','9','X'] : %}
                                <img class="col-2" src="../static/img/mana/{{elm}}.png" alt="">
                            {% elif elm in ['R','G','U', 'B', 'W'] : %}
                                <img class="col-2" src="../static/img/mana/{{elm}}.png" alt="">
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
            </li>
            <li  class="m-2 row justify-content-start align-items-center">
              <h5>Type : <strong>{{ card.type.capitalize() }}</strong></h5></li>
            {% if info[0][0].legality == "standard" : %}
              <li  class="m-2 pe-0 row justify-content-start align-items-center">
                <h5 class="pe-0">Légalité : <strong> Standard </strong><small>(Modern - Legacy - Vintage)</small></h5></li>
            {% elif info[0][0].legality == "modern" : %}
              <li  class="m-2 pe-0 row justify-content-start align-items-center">
                <h5 class="pe-0">Légalité : <strong> Modern </strong><small>(Legacy - Vintage)</small></h5></li>
            {% elif info[0][0].legality == "legacy" : %}
              <li  class="m-2 pe-0 row justify-content-start align-items-center">
                <h5 class="pe-0">Légalité : <strong> Legacy </strong><small>(Vintage)</small></h5></li>
            {% else : %}
              <li  class="m-2 pe-0 row justify-content-start align-items-center">
                <h5 class="pe-0">Légalité : <strong> Vintage </strong></h5></li>
            {% endif %}
            <li  class="m-2 row justify-content-start align-items-center">
              <h5>Date d'impression: <strong>{{ info[0][0].creation_date }}</strong></h5></li>

            {% if rating == 0 :%}
            <li id="rating"  class="m-2 row justify-content-start align-items-center">
              <h5>Rating : <strong>Aucune rating sur cette carte</strong></h5></li>
            {% else : %}
            <li id="rating"  class="m-2 row justify-content-start align-items-center">
              <h5>Rating : <strong>{{rating}}</strong> {% if count > 1 : %}
                                                                              {{"(" + count|string + " votes)"}}
                                                                              {% else : %}
                                                                              {{"(" + count|string + " vote)"}}
                                                                              {% endif %}</span></h5></li>
            {% endif %}
            <li class="m-2 ms-3">
              {% if user_rating == None : %}
              <div class="rating-star">
              <span name="star" class="star" value="1">&#11088</span>
              <span name="star" class="star" value="2">&#11088</span>
              <span name="star" class="star" value="3">&#11088</span>
              <span name="star" class="star" value="4">&#11088</span>
              <span name="star" class="star" value="5">&#11088</span>     
              </div>

              {% elif user_rating == "no_user" : %}
              <a href="{{ url_for('login_page') }}">Connectez vous pour ajouter votre score!!! </a>
              {% else : %}
              <div class="rating-star">
                  {% for i in range(1, 6) : %}
                    {% if user_rating > i : %}
                      <span name="star-user" class="star-user" value="1">&#11088</span>
                    {% elif user_rating == i : %}
                      <span name="star-user" class="star-user" value="1" style="font-size:120%">&#11088</span>
                    {% else : %}
                      <span name="star-user" class="star-user" value="1">&#9734</span>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
              </li>
            <li class="m-2 row justify-content-start align-items-center">
              <h5>Popularité : <strong>{{card.search}}</strong> {{'recherche' if card.search < 2 else 'recherches'}}</h5></li>
            <li class="m-2 row justify-content-start align-items-center">
              <h5>Prix moyen : <strong>{{sellers_price}}€</strong></h5></li>
          </ul>
      {% else : %}
      <h1>Cette carte n'est pas dans notre data base, contactez l'admin</h1>
      {% endif %}
    </article>  
  </section>
  <section class="container">
    <article class="row align-items-center jumbotron">
      <div>
        <h1>Règles</h1>
        {% if info != [] : %}
          <ul>
            {% if info | length() > 1 :%}
              {% for rule in info[1:] : %}
                {% if rule[2].id_card == card.id : %}        
                  <li class="m-2 mb-3 row">
                    <div  class="col-2">
                      <h5>{{ rule[2].date }}</h5> 
                      {% if username == 'admin' : %}
                      <form class="col-2" action="{{url_for('delete_rulling', name=card.name, id=rule[2].id)}}" method="post">
                        <input onclick="return confirm('Supprimer ce rulling?')" type="submit" value="Supprimer">
                      </form>
                      {% endif %}
                    </div>
                    <p class="col-8">{{ rule[2].rule }}</p>
                    <hr>
                  </li>
                {% endif %}
              {% endfor %}
            {% else : %}
            <li class="m-2 mb-3 row">
              <h5 class="col-2">{{ info[0][2].date }}</h5> 
              <p class="col-8">{{ info[0][2].rule }}</p>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </article>
    {% if username == 'admin' : %}
    <form action="{{ url_for('add_rulling', name=card.name) }}" method="post" class="m-5 w-50">
      {{ wtf.quick_form(rulling_form, novalidate=True, button_map={"submit": "dark"}) }}
    </form>
    {% endif %}
  </section>

    <section class="container">
    {% if comments != [] : %}
    <article>
      <ul> 
        {% autoescape on %}                   
        {% for comment in comments: %}
            {% if comment[0].id == comment[0].post_id %}   
                <li>
                <h2>{{ comment[0].title|safe }} </h2>
                <p> POSTE {{ comment[0].content|safe }} </p>
                <div class="flex">
                    <div class="avatar-comment">
                        <img class="resp" src="{{ comment[2].path }}" alt="{{ comment[2].alt }}" title="{{ comment[2].title }}">
                    </div>
                    <p><small><strong> {{ comment[1].username }} </strong> - <em>{{ (comment[0].date | string())[:-7] }}</em></small></p>
                </div>   
                {% if current_user.id_status == 1: %}
                <ul>
                    <li class="inline"><a title="Répondre" type="button" class="" data-bs-toggle="collapse" href="#collapseForm-{{ comment[0].id }}" 
                      role="button" aria-expanded="false" aria-controls="collapseForm">Répondre</a></li>
                    {% if current_user.id == comment[0].id_user : %}   
                        <span class="dot"> . </span>    

                        <li class="inline"><a title="Modifier" type="button" class="" data-bs-toggle="modal" data-bs-target="#comment_modal" 
                          card_id="{{card.id}}" post_id="{{comment[0].id}}" post_title="{{comment[0].title}}"
                          post_body="{{comment[0].content}}" comment_method="1">
                          Modifier</a><span class="dot"> . </span></li>

                          <!-- ***************** MODAL UPDATE COMMENTAIRE ******************** -->
                          <div class="modal fade" id="comment_modal" tabindex="-1" aria-labelledby="commentLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="commentLabel">Modifier votre post</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form action="{{ url_for('update_comment', comment_id=comment[0].id, card_id=comment[0].id_card, author_id=current_user.id) }}" method="post">
                                    {{ wtf.quick_form(post_modify_form, novalidate=True, button_map={"submit": "dark"}) }}
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                  </form>
                                </div>        
                              </div>
                            </div>
                          </div>  
                         
                        <li class="inline"><a title="Supprimer" onclick="return confirm('Voulez-vous supprimer le commentaire suivant: {{ comment[0].title }} ?')"
                            href="{{ url_for('delete_comment', author=current_user.username, card_id=card.id, comment_id=comment[0].id) }}">Supprimer</a></li>   
                                        
                    {% endif %}
                  </ul>
                    <div class="collapse" id="collapseForm-{{ comment[0].id }}">
                      <form action="{{url_for('add_response', card_id=card.id, comment_id=comment[0].id, author_id=current_user.id)}}" method="post" name="form-reply">
                        {{ wtf.quick_form(response_form, novalidate=True, button_map={"submit": "dark"}) }}
                      </form>
                    </div>
                {% else : %}
                {% if username != "no_user" and (current_user.id_status != 1) %}
                    <p> Votre status est <strong>{{ current_user.status|safe }}</strong>, vous ne pouvez ni poster ni commenter. </p>
                {% elif username == "no_user": %}
                    <a href="{{ url_for('login_page')}}"> Connectez-vous pour répondre </a>
                {% endif %}
            {% endif %}  
                         
            <!-- ###################################### SOUS COMMENTAIRE ############################ -->
                <ul>                                                
                  {% for reply in comments: %}
                      {% if reply[0].post_id != reply[0].id and reply[0].post_id == comment[0].id %}
                        <li>
                            <p> SOUS POSTE {{ reply[0].content }} </p>
                            <div class='flex'><div class="avatar-comment"><img class="resp" src="{{ reply[2].path }}" alt="{{ reply[2].alt }}" title="{{ reply[2].title }}"></div><span><small><strong>
                                {{ reply[1].username }}</strong> - <em>{{ (reply[0].date | string())[:-7] }}</em></small> </span></div> 
                            {% if username != "no_user" and (current_user.id_status != 1) %}
                              <p> Votre status est <strong>{{ current_user.status|safe }}</strong>, vous ne pouvez ni poster ni commenter. </p>
                            {% elif username == "no_user": %}
                              <a href="{{ url_for('login_page')}}"> Connectez-vous pour répondre </a>
                            {% elif current_user.id_status == 1: %}
                                <ul>
                                  <li class="inline"><a title="Répondre" type="button" class=""  data-bs-toggle="collapse" href="#collapseFormReply-{{ reply[0].id }}" 
                                    role="button" aria-expanded="false" aria-controls="collapseFormReply">Répondre</a></li>
                                    <span class="dot"> . </span> 
                                  <!--
                                  {% if current_user.id == reply[0].id_user : %}   
                                       

                                      <li class="inline"><a title="Modifier" type="button" class="" data-bs-toggle="modal" data-bs-target="#reply_modal" 
                                        card_reply_id="{{card.id}}" post_reply_id="{{reply[0].id}}" post_reply_title="{{reply[0].title}}"
                                        post_reply_body="{{reply[0].content}}" reply_method="1">
                                        Modifier</a><span class="dot"> . </span></li>

                                           <!-- ******************** MODAL RESPONSE ******************
                                          {% with reply_id = reply[0].id %}
                                          <div class="modal fade" id="reply_modal" tabindex="-1" aria-labelledby="replyLabel" aria-hidden="true">
                                           <div class="modal-dialog">
                                             <div class="modal-content">
                                               <div class="modal-header">
                                                  <h5 class="modal-title" id="replyLabel">Modifier votre réponse</h5>
                                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                               </div>
                                               <div class="modal-body">
                                                 <form action="{{ url_for('update_response', comment_id=reply_id, card_id=reply[0].id_card, author_id=current_user.id) }}" method="post">
                                                  {{ wtf.quick_form(response_modify_form, novalidate=True, button_map={"submit": "dark"}) }}
                                                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                 </form>
                                               </div>        
                                               </div>
                                             </div>
                                           </div>
                                          </div>
                                          {% endwith%} -->
                                      
                                      <li class="inline"><a title="Supprimer" onclick="return confirm('Voulez-vous supprimer la réponse suivante ?')"
                                          href="{{ url_for('delete_comment', comment_id=reply[0].id, author=current_user.username, card_id=card.id ) }}">
                                          Supprimer</a></li>
                                  {% endif %} 
                                </ul>
                                <div class="collapse" id="collapseFormReply-{{ reply[0].id }}">
                                  <form action="{{url_for('add_response', card_id=card.id, comment_id=comment[0].id, author_id=current_user.id)}}" method="post" name="form-reply">
                                    {{ wtf.quick_form(response_form, novalidate=True, button_map={"submit": "dark"}) }}
                                  </form>
                                </div>

                          {% endif %}
                        {% endif %}
                    </li>                          
                  {% endfor %}
                </ul>
                <hr>
            </li>
          {% endif %}
        {% endfor %}        
        {% endautoescape %}  
  
    </ul>
    </article>
    </section>

  {% endif %}
  <section class="container jumbotron">
    <h1>Rédiger un post</h1>
    <form method="post" action="{{ url_for('add_comment', card_id=card.id, author=current_user.username) }}">
      {{ wtf.quick_form(post_form, novalidate=True, button_map={"submit": "dark"}) }}
    </form>
  </section>


<script>
  
    // Script des Stars
    const ratingSpans = document.querySelectorAll('.star');
    const cardId = document.getElementById('card-name-title');
    ratingSpans.forEach((ratingSpan) => {
    ratingSpan.addEventListener('click', () => {
      ratingValue = ratingSpan.getAttribute('value');
      cardIdValue = cardId.getAttribute('value');
    
      // requete AJAX des Stars
      $.post( "/card/rating", { rating: ratingValue, id: cardIdValue }).then($('#rating').load(document.URL +  ' #rating'));

      ratingSpans.forEach((ratingSpan) => {
        if (ratingSpan.getAttribute('value') > ratingValue) {
          ratingSpan.innerText = "\u2606";
        }
        if (ratingSpan.getAttribute('value') == ratingValue) {
          ratingSpan.style.fontSize = "120%";
        }
          ratingSpan.style.transition = "none";
          ratingSpan.style.pointerEvents = "none";
      });
      
    });
  });

</script>

</body>
{% include 'footer.html' %}




