  {% block content %}
  {% for id in buy_lists_id : %}
  <li>
      <div class="row w-50 justify-content-center m-auto align-items-center">
          <h3 class="col-8 text-center p-2"> {{ id[1].name }} </h3>
          <div class="col-1 pointer"><img  id="img-{{ id[1].id }}" class="down-arrow w-100" style="transition:all ease 0.5s" src="/static/img/save_img/down-arrow.png" 
              alt="wrench" data-bs-toggle="collapse" href="#list-{{ id[1].id }}" aria-expanded="false" aria-controls=""></div> 

          <form class="col-2" action="{{ url_for('delete_list') }}" method='post'>
            <input type="text" hidden value="{{id[1].id}}" name="delete-id">
            <input type="submit" class="btn btn-dark" value="Supprimer" onclick="return confirm('Supprimer la liste : {{id[1].name}} ?')">
          </form>
      </div>
      <div class="list-collapse collapse w-50 justify-content-center align-items-center" id="list-{{ id[1].id }}">
        <table>
          <thead>
              <tr>
                  <th >Nom de la carte</th>
                  <th >Nombre d'exemplaire</th>
              </tr>
          </thead>
          <tbody>
          {% for list in buy_lists : %}
            {% if list | length > 2 : %}
                {% if list[2].id_deckbuilder == id[1].id : %} 
                  <tr>
                      <td>{{ list[3].name }}</td>
                      <td>{{ list[2].nb }}</td>
                      <td> 
                        <form class="" action="{{ url_for('delete_buy_card_list', card_id=list[3].id, deckbuilder_id=list[2].id_deckbuilder) }}" method='post'>   
                          <input name="add-submit-list" type="submit" value="supprimer">  
                        </form>
                      </td>
                  </tr>
                {% endif %}
              {% endif %}
          {% endfor %}
          </tbody>
          </table>
      </div>
  </li>
  {% endfor %}
  {% endblock %}