{% include 'header.html' %}
<body>

<main class="container">
    {% include 'includes/_flash_messages.html' %}

    {% include 'includes/_side_nav.html' %}

    <h1 id="list-buy" class="text-center m-3"> Faites votre liste de ventes </h1>

    {% with id_deckbuilder = 2 %}
        {% include 'user/deckbuilder/_create_list.html' %}
    {% endwith %}

    <hr>
    <section id="buy-list" class="container">
        <div class="row">
            <h2 class="text-center"> Vos listes de ventes </h2>
            <ul id="ul-list-update" class="mt-3 text-center">
                <turbo-frame id="research-sell-list">
                    {% include 'user/deckbuilder/_research_sell_list.html' %}
                </turbo-frame>
            </ul>
        </div>
    </section>
</main>   
{% include 'footer.html' %}
<script>

autocomplete_card(document.getElementById("input-search-list"), cards);


//async function update_list_buy() { 
//    await $('#ul-list-update').load(document.URL + ' #ul-list-update');
//    await $('#search-list').load(document.URL + ' #search-list');
//    await $('#buy-list').load(document.URL + ' #buy-list');
//    await $('.select-list').load(document.URL + ' .select-list');
//}
//
//async function update_search_list() {
//    await $('#search-list').load(document.URL + ' #search-list');
//}
//
//async function update_list() { 
//    await $('#buy-list').load(document.URL + ' #buy-list');
//    await $('.select-list').load(document.URL + ' .select-list');
//}



// Create buy list

//const createSubmit = document.getElementById("create-submit");
//const createList = document.getElementById("create-list");
//const updateList = document.querySelector('#update-list');


//createSubmit.addEventListener('click', () => {
//    if (createList.value != "" && createList.value != null) {
//        $.post( "/create_buy_list", { name : createList.value, id_type : 1}).then(update_list_buy);
//    }
//    else {
//        return false;
//    }
//});
//
// Add to buy list

//const addSubmit = document.getElementById("add-submit");
//const quantity = document.getElementById("quantity");
//const cardName = document.getElementById("search-list");
//const optionList = document.querySelector('select');

//addSubmit.addEventListener('click', () => {
//    if (quantity.value > 0 && quantity.value < 5 && quantity != null && cardName.value != null && cardName.value != "" && 
//    optionList.value != null) {
//        
//        $.post( '/add_to_buy_list', { name: cardName.value, quantity: quantity.value, id_type : 1 , id_deckbuilder : optionList.value })//.then(update_list_buy);
//        //axios
//    }
//    else {
//        return false;
//    }
//});




</script>
<script type="text/javascript" src="{{url_for('static', filename='js/sell_buy_form.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/down_arrow.js')}}"></script>
</body>

