@font-face { 
    font-family: "trajan-regular";
    src: url("../font/TrajanPro-Regular.ttf")
}

@font-face { 
    font-family: "trajan";
    src: url("../font/Trajan-Pro.ttf")
}

@font-face {
    font-family: "trajan-bold";
    src: url("../font/TrajanPro-Bold.otf")
}


* {
    margin:0;
    padding:0!important;
}

/****** CLASSES ******/
.border {
    border: 1px solid white;
}

.logo {
    width: 60px;
    height: auto;
}

.resp {
    width: 250px;
    height: 540px;
    object-fit: cover;
}

.absolute {
    position: absolute;
}

.relative {
    position:relative;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content:flex-end;
}

.align-items-center {
    align-items: center;
}

.overflow {
    overflow: hidden;
}

.bg-dark {
    background-color: rgb(0,0,0);
    opacity:1;
}

.bg {    
    transition: all ease 0.5s;
    top:0;
    left:0;
}

.bg-light, .bg-red, .bg-blue, .bg-green, .bg-black {
    background-color: rgba(255,255,255, 0.0);
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.show {
    transition: all ease 0.5s;
    color:white;
}

.show:hover > .bg-light {
    background-color: rgba(255,255,255, 0.5);
}

.show:hover > .bg-red {
    background-color: rgba(200, 0,0, 0.7);
    background-image: linear-gradient(315deg, rgba(200, 0, 0, 0.7) 40%, rgba(189, 134, 15, 0.7) 95%);
}

.box-shadow-red {
    box-shadow: rgba(200, 50, 50, 0.5) 6px 3px 8px;
}

.show:hover > .bg-blue {
    background-color: rgba(0,0,255, 0.7);
    background-image: linear-gradient(315deg, rgba(0, 0, 255, 0.7) 40%, rgba(200,200,255,0.7) 85%);
}

.box-shadow-blue {
    box-shadow: rgba(38, 38, 146, 0.7) 6px 3px 8px;
}

.show:hover > .bg-green {
    background-color: rgba(32, 104, 25, 0.7);
    background-image: linear-gradient(315deg, rgba(32, 104, 25, 0.7) 40%,  rgba(59, 197, 59, 0.7) 85%);
}

.box-shadow-green {
    box-shadow: rgba(38, 145, 38, 0.7) 6px 3px 8px;
}

.show:hover > .bg-black {
    background-color: rgba(50,50,50,0.7);
    background-image: linear-gradient(315deg, rgba(30,30,30,0.7) 40%,  rgba(200,200,200,0.3) 85%);
}

.box-shadow-black {
    box-shadow: rgba(30,30,30, 0.7) 6px 3px 8px;
}

.show:hover > .bg-white {
    background-color: rgba(124, 128, 82, 0.7);
    background-image: linear-gradient(315deg, rgba(124, 128, 82, 0.7) 40%,  rgba(200,200,120,0.7) 85%);
}

.box-shadow-white {
    box-shadow: rgba(124, 128, 82, 0.7) 10px 3px 8px;
}

.show:hover > img {
    filter:blur(1px);
}

.show:hover > h1 {
    transform:translateY(-1000%) translateX(12%);
    z-index: 150;
    color:black;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 0px #fff;
}

.z-index-100 {
    z-index: 100;
}
.skew-5 {
    transform:skewX(-5deg);
}

.show:hover > .text-card-up {
    opacity: 1;
}

.text-card-down {
    bottom: 6%;
    left:-8%;
    text-align: center;
    font-size: 180%;
    transition: all ease 0.5s;
}


/****** GENERAL BALISE *****/

a {
    text-decoration:none;
    color:white;
    font-family: 'trajan';
}

li {
    list-style: none;
    font-size: 200%;
    transition: all ease 0.2s;
}

li:hover {
    transform:scale(1.1) translateY(-5%);
}

h1 {
    width:100%;
    font-size:250%;
    color:white;
    font-family: 'trajan-bold';
}

span {
    font-size: 50%!important;
    color:white;
    font-family: 'trajan';
}

body {
    height:100vh;
}


/******* HEADER *******/

header {
    padding-top: 10px!important;
}

header > section {
    width: 100%;
}

header nav {
    width: 100%;
}

header section nav > div {
    width: 50%;
}

header .div-logo {
    margin: 2% 5% 0 5%;
}

.nav-brand {
    font-size: 300%;
    font-family: 'trajan-bold';
}

header nav ul {
    width: 45%;
}

header nav ul > li {
    margin-right: 5%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius:50%;
    overflow: hidden;
    border: 2px solid grey;
    position:relative;
    margin: 5% auto;
  }
  
.avatar>img {
    width:100%;
}

.admin-link {
    display: none;
}


/****** MAIN *******/

body {
    overflow:hidden;
}

main > section {
    width:100%;
}

main section div {
    margin: 0 0.5%;
}

main .filter {
    width: 100%;;
    height: 100%;
}

.phone-screen {
    display:none;
}




@media screen and (max-width: 991px) {

    .flex {
        flex-direction:column;
    }
/******* HEADER *******/
    header {
        padding-top:0!important;
    }

    header > section {
        
        height:100vh;
        margin-bottom:0!important;
        background-image:url('../img/homepage/phone.jpg')!important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        padding-top: 10px!important;
    }

    .nav-brand {
        position:absolute;
        color:black;
        text-align: center;
        margin:0 auto;
        font-size: 5em;
        top:25%;
        left: 50%;
        transform:translate(-50%,-50%);
        z-index: 150;
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff, 
                     0 0 50px #fff;
    }

    .logo {
        width: 150px;
        position:relative;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius:50%;
        overflow: hidden;
        border: 2px solid grey;
        position:relative;
        margin: 5% auto;
    }
 
    header span {
        display: none;
    }

    .link-screen {
        display: none;
    }

    .phone-screen {
        display:block;
    }

    .admin-link {
        width: 250px;
        border: 1px solid black;
        background-color:rgba(30,30,30,0.7);
        margin: 9px;
        border-radius: 15px;
        padding: 10px!important;
        font-size: 200%;
        text-align: center;
    }

    .connection-link {   
        margin-top: 20px;     
        width: 230px;
        text-align: center;
        font-size: 100%;    
        background-color:black;
    }

    .log-out-link {
        width: 360px;
        margin: 30px 9px 9px 9px;
    }


    .admin-link:hover > a {
        color:black;
    }

    .admin-link:hover {
        background-color: rgba(200, 0,0, 0.7);
        background-image: linear-gradient(315deg, rgba(200, 0, 0, 0.7) 40%, rgba(189, 134, 15, 0.7) 95%); 
    }

/*********** MAIN *******/
    .resp {
        width:50vh;
        height:auto;
        object-fit: fill;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

    .admin-link {
        width: 250px;
        border: 1px solid black;
        background-color:rgba(30,30,30,0.7);
        margin: 9px;
        border-radius: 15px;
        padding: 10px!important;
        font-size: 200%;
        text-align: center;
    }

    .log-out-link {
        width: 360px;
        margin: 30px 9px 9px 9px;
    }

    .connection-link {   
        margin-top: 20px;     
        width: 230px;
        text-align: center;
        font-size: 100%;    
        background-color:black;
    }

}

@media screen and (min-width: 769px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1320px) {

    .skew-5 {
        transform: none;
    }

/******* HEADER ********/

    header li {
        font-size : 150%;
    }

    .nav-brand {
        font-size: 250%;
        font-family: 'trajan-bold';
    }

    .resp {
        width: 180px;
        height: 540px;
        object-fit: cover;
    }

    .show:hover > .text-card-up {
        opacity: 1;

    }

    .show:hover > h1 {
        transform:none;
        z-index: 150;
        color:black;
        text-shadow: 0 0 5px #fff,
                     0 0 5px #fff, 
                     0 0 0px #fff;
    }
    
    .text-card-down {
        color: rgb(240,240,240);
        text-align: end;
        font-size: 150%;
        transition: all ease 0.5s;
        writing-mode: vertical-rl;
        text-orientation: upright;
        background-color:rgba(30,30,30,0.7);
        left:unset;
        bottom:unset;
        left:0;
        bottom:0;
        padding-bottom:10px!important;
        width:fit-content;
        height:100%;
    }

    .show:hover > .text-card-down {
        background-color: rgba(30,30,30,0);
    }

    

}


