{% include 'header.html' %}

<body>
    <section>  
        {% include 'includes/_flash_messages.html' %} 
    </section>

    <h1 class="text-center m-3"> Users Database </h1>

    <section class="container mb-5">
        <div class="row justify-content-center align-items-baseline text-center">
            <div class="col-12 col-lg-6 m-auto">
                {% with items = users, path = 'admin_user_list_page' %}
                    {% include 'includes/_paginate.html' %}
                {% endwith %}
            </div>
            <div class="col-6"></div>
        </div>
        <div class="table-responsive">
        <table class="ul-admin">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Nouveau Status</th>
                    <th>Mise à jour</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users.items: %}
                <tr> 
                    <form class="form-name" name="form-name" method='POST' action="{{ url_for('update_user_page', id=user[0].id) }}"> 
                        <td>{{ user[0].id }}</td>
                        <td>{{ user[0].username }}</td>
                        <td>{{ user[0].email }}</td>
                        <td> {{user[1].status.upper() }}</td>  
                        <td>
                            <select name="select-status" onchange="checkSelection()">                     
                                <option selected disabled> Choix status </option>
                                <option value="1">"Actif"</option>
                                <option value="2">"Inactif"</option>
                                <option value="3">"En pause"</option>                    
                            </select>
                        </td>
                        <td>
                            <button title="Modifier User Status" class="button-update DisableBtn" type="submit"><img src="{{url_for('static', filename='img/save_img/update2.png')}}"
                                     alt="wrench" class="w-100"></button>              
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </section>

<div class="mt-3 mb-3">
    {% include 'footer.html' %}
</div>


<script>
function checkSelection() {
    var elements = document.getElementsByClassName("DisableBtn");
    for (var prop in elements) {
        element.disabled = false;
    }
}

const btnUpdate = document.querySelectorAll('button-update');
const formUser = document.querySelectorAll('form-name');

btnUpdate.forEach((btn) => {
    btn.addEventListener('click', (e) => {
        e.preventDefault();
        console.log('test')
        $('.form-name').load(document.URL +  ' .form-name');
    })
})

formUser.forEach((userform) => {
    userform.addEventListener('submit', (e) => {
        e.preventDefault();
        console.log('Test')
        userform.style.background= 'red'
        $('.form-name').load(document.URL +  ' .form-name');
    })
})


//
</script>

</body>


