<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/path_error.css')}}">
    <title> Erreur 404 </title>
</head>
<body>
        <a href="{{ url_for('home') }}" title="Retour MagicBay">
        <div class="gandalf">
        <div class="fireball"></div>
        <div class="skirt"></div>
        <div class="sleeves"></div>
        <div class="shoulders">
          <div class="hand left"></div>
          <div class="hand right"></div>
        </div>
        <div class="head">
          <div class="hair"></div>
          <div class="beard"></div>
        </div></a>
      </div>
      <div class="message">
      <h1> 404 - Cette page n'existe pas! </h1>
      <p>Oh oh oh, Gandalf bloque le passage!<br/>Peut-être avez vous fait une faute
        dans votre url? Ou vous souhaitiez aller à un autre endroit? Comme... Hobbitebourg?
        </p>
      </div>
      <div>
      <a type="button" href="{{ url_for('home') }}" class="btn-error"> MagicBay </a>
    </div>
</body>
</html>

