
{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
    <h1 class="text-center mt-3"> Messagerie {{ current_user.username }} - {{ receiver if current_user.username != receiver else messages[0].author }}</h1>
    <section class="container w-75 mt-5 chat-box">
        <div class="list-group">
        <turbo-frame id="message-chat">
            {% for message in messages : %}
                {% include 'chat/_message.html' %}
            {% endfor %}
        </turbo-frame>
    </section>

    <section class="container mt-5 mb-5">
        {% set new_receiver = receiver if receiver != current_user.username else messages[0].author %}
        {% include 'chat/_input_chat.html' %}
    </section>

</body>

{% include 'footer.html' %}