{% include 'header.html' %}

<body>
    <section class="list-group container mt-5">
        <h1>Votre messagerie</h1>
        <div class="row">
            <div class="">
                {% if messages | length == 0 %}
                    <p>Votre messagerie est vide.</p>
                {% endif %}
                    {% for message in messages : %}
                    {% if message.id == message.post_id : %}
                        <a class="list-group-item list-group-item-action list-group-item-light w-100 rounded" aria-current="true" 
                            href="{{ url_for('chat_page', username=current_user.username, receiver=message.receiver, message_id=message.id) }}">
                                <div class="row w-100 justify-content-between align-items-center">
                                    {% if message.receiver != current_user.username %}
                                        <h5 class="mb-1 col-lg-8 col-12"> <b> Conversation avec {{ message.receiver }} </b></h5>
                                    {% else %}
                                        <h5 class="mb-1 col-lg-8 col-12"> Conversation avec {{ message.author }}</h5>
                                    {% endif %}
                                    <small class="col-lg-3"><em> {{ (message.date.strftime('%d-%m-%y %H:%M:%S') ) }}
                                    </em></small>
                                    {% if not message.notification : %}
                                        <i class="far fa-envelope col-1"></i>
                                    {% else %}
                                        <i class="far fa-envelope-open col-1"></i>
                                    {% endif %}
                                
                                </div>
                                <p class="mb-1"> {{ message.content }} </p>
                                <div class="row">
                                    <small class="col-2 ms-auto d-flex"> 
                                    </small>
                                </div>
                        </a>
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
        <div class="col-5">
        </div>
    </section>
</body>

{% include 'footer.html' %}