{% include 'header.html' %}
{{ turbo() }}

<body>

    <section class="container w-75 mt-5">
        <div class="list-group">
        <turbo-frame id="message-chat">
            {% for message in messages : %}
                {% include '_message.html' %}
            {% endfor %}
        </turbo-frame>
    </section>

    <section class="container mt-5 mb-5">
        {% set new_receiver = receiver if receiver != current_user.username else messages[0].author %}
        <form id="form" method="post" action="{{url_for('chat_page', username=username, receiver=new_receiver, message_id=messages[0].post_id)}}" class="row align-items-center w-100 justify-content-center">
            {% include '_input_chat.html' %}
            
        </form>
    </section>

<script>
    const form = document.getElementById('form');
    const message = document.getElementById('message-content');

</script>
</body>

{% include 'footer.html' %}