{{ turbo() }}
    
{% block content %}
{% if search_list != [] : %}
<div class="container-fluid align-items-center">
    <table id="table-list">
        <tr>
            <th style="width:15%">Vendeur</th>
            <th style="width:15%">Nom</th>
            <th>Nombre</th>
            <th>Prix</th>
            <th>Langue</th>
            <th>Edition</th>
            <th>Qualité</th>
            <th>Rareté</th>
            <th>Date d'impression</th>       
            <th>Contactez</th>         
        </tr>
    
    {% for seller in seller_list : %}
        {% for search in search_list  : %}
        {% if search[0].id == seller.id : %}
            <tr>
                <td style="width:15%"> <b>{{  seller.username.title() }}</b> </td>
                <td style="width:15%"> <b>{{ search[1].name.title() }}</b> </td>
                <td> {{ search[2].nb }}  </td>
                <td> {{ search[3].price }}€ </td>
                <td> {{ search[3].language}} </td>
                <td> {{ search[3].edition.title() }} </td>
                <td> {{ search[3].quality }} </td>
                <td> {{ search[3].rarity }} </td>
                <td> {{ search[3].creation_date }} </td>
                <!--<td><button class="btn btn-primary btn-messenger" id-card="{{ search[1].name }}" name-seller="{{ search[0].username }}" data-bs-toggle="modal" data-bs-target="#modalMessenger">Message</button></td>-->
                <td>
                    <form action="{{ url_for('send_message', username=current_user.username, receiver = seller.username, info=search[3].id, card = search[1].name) }}" method='post'>
                        <input onclick="return confirm('Voulez-vous contacter user: {{ seller.username.title() }} pour la carte : {{ search[1].name.title() }}')" type='submit' class="btn btn-primary btn-messenger" id-card="{{ search[1].name }}">
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </table>

</div>
{% else :%}
<p> Aucun utilisateur n'a de carte à vendre que vous recherchez pour le moment. </p>
{% endif %}

<!-- Modal  -->
<div class="modal fade" id="modalMessenger" tabindex="-1" aria-labelledby="modalMessengerTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalMessengerTitle">Envoyer un message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container">
            <textarea style="width:100%" class="modal-body"></textarea>
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" id="btn-send-message" class="btn btn-primary" data-bs-dismiss="">Envoyer le message</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}











