{% block content %}
<div class="d-flex justify-content-evenly align-content-center">
    <label for="#select-list-id"> Sélectionner la liste d'achat </label>
    <select id="select-list-id">
        <option>>--Selectionner une de vos listes--<</option>
        {% if buy_lists_id :%}
            {% for id in buy_lists_id : %}
                <option id="select-{{ id[1].id }}" value="{{ id[1].id }}"> {{ id[1].name }} </option>
                {% endfor %}  
        {% else : %}
            {% for id in sell_lists_id : %}
                <option id="select-{{ id[1].id }}" value="{{ id[1].id }}"> {{ id[1].name }} </option>
                {% endfor %}        
        {% endif %}    
    </select>
</div>


{% endblock %}



