{% include 'header.html' %}

<!-- Page Admin
    L'admin peut  : supprimer ajouter update des cartes : a avec fleche icone update, 
    et un x pour del qui lance popup are you sure to delete?
                        
                    supprimer des users
-->

<body>


<div class="container">
    <h1> Page Admin </h1>
    <!-- message lors d'erreurs -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li class="li-error">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <ul class="">
    {% for elm in cards : %}
        <li class='li-vertical'>
        <a class="admin-a" href="#"> {{ elm.id }} {{ elm.name }} </a> 
        <a href="{{ url_for('update_page', id=elm.id) }}"><img src="static/img/save_img/wrench.png" alt="wrench" style="width:2%"></img></a>
        <form>
            <input type="hidden" id="id" value="{{ elm.id }}"><br>
            <input type="hidden" id="name"  value="{{ elm.name }}"><br>
        <button type="button" onclick="scriptDelete()"  src="#" alt="delete" class="admin-a-del"> ✘ </button>
        </form>       
        </li>
    {% endfor %}
    </ul>
    <div class="container">
        <h2> A changer ####</h2>
        <a href="{{ url_for('add_page') }}" type="button" class="button button-admin"> Ajouter </a>
        <!--
        <a href="{{ url_for('update_page') }}" class="button button-admin"> Mise à jour </a>
        <a href="{{ url_for('delete_page') }}" class="button button-admin"> Supprimer </a>
        -->
    </div>
</div>


<p>Click the button to display a confirm box.</p>

<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {

  window.confirm("Press a button!") ? 
  window.location.href = "{{ url_for('home') }}" :
  null;
};

function scriptDelete(event) {
    var id = document.getElementById('id').value;
    var name = document.getElementById('name').value;
    event.preventDefault();
    window.confirm('Supprimer la carte ?') ? 
    window.location.href = "{{ url_for('delete_page', id=id, name=name) }}" :
    null;
};
</script>

</body>


{% include 'footer.html' %}