
{% include "header.html" %}

<main>
    <nav id="mySidenav" class="sidenav">
        <span id="btn-nav-close" href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="../static/img/save_img/arrows_reverse.png" class="resp"alt=""></span>
        <a class="mt-5" href="#TopIllus">Illustrations</a>
        <ul>
            <a href="#TopIllusLeg">Legacy</a>
            <a href="#TopIllusModern">Modern</a>
            <a href="#TopIllusStd">Standard</a>
        </ul>
        <a href="#TopSearch">Recherches</a>
        <ul>
            <a href="#TopSearchLeg">Legacy</a>
            <a href="#TopSearchModern">Modern</a>
            <a href="#TopSearchStd">Standard</a>
        </ul>
    </nav>

    <div id="main">
        <!--<span id="btn-nav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>-->
        <span id="btn-nav-open" onclick="openNav()"> <img src="../static/img/save_img/arrows.png" class="resp" alt=""> </span>

    <section class="container text-center mb-3">
        <div id="TopIllus">
            <h1> Top des illustrations </h1>
            {% with tops = rating, mode = 1 %}
                {% include '_top.html' %}
            {% endwith %}
        </div>

        <div id="TopIllusLeg">
            <h1> Top des illustrations Legacy </h1>
            {% with tops = rating_legacy, mode = 1 %}
                {% include '_top.html' %}
            {% endwith %}
        </div>

        <div id="TopIllusModern">
        <h1> Top des illustrations Modern </h1>
        {% with tops = rating_modern, mode = 1 %}
            {% include '_top.html' %}
        {% endwith %}
        </div>

        <div id="TopIllusStd">
            <h1> Top des illustrations Standard </h1>
            {% with tops = rating_standard, mode = 1 %}
                {% include '_top.html' %}
            {% endwith %}
        </div>

    </section>
    <section class="container text-center mt-3 mb-3">
        <div id="TopSearch">
            <h1> Top des Recherches </h1>
            {% with tops = search, mode = 2 %}
                {% include '_top.html' %}
            {% endwith %}
        </div>

        <div id="TopSearchLeg">
            <h1> Top des Recherches Legacy </h1>
            {% with tops = search_legacy, mode = 2  %}
                {% include '_top.html' %}
            {% endwith %}
        </div>

        <div id="TopSearchModern">
            <h1> Top des Recherches Modern </h1>
            {% with tops = search_modern, mode = 2  %}
                {% include '_top.html' %}
            {% endwith %}
        </div>

        <div id="TopSearchStd">
            <h1> Top des Recherches Standard </h1>
            {% with tops = search_standard, mode = 2  %}
                {% include '_top.html' %}
            {% endwith %}
        </div>
    </section>
</div>
</main>         
{% include 'footer.html' %}

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    document.getElementById("btn-nav-open").style.opacity = "0";
    document.getElementById("btn-nav-close").style.opacity = "1";
  }
  
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
    document.getElementById("btn-nav-open").style.opacity = "1";
    document.getElementById("btn-nav-close").style.opacity = "0";
  } 

</script>




