{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
  <section class="container">
      {% if card.name != 'empty name' : %}
      <article class="row justify-content-center">
        <h1 id="card-name-title" value="{{card.id}}">{{ card.name }}</h1>
        <h2><em><small></small></em></h2>
        <div class="border col-3 text-center">
          <div class="image-card w-75 m-auto"><img class="w-100" src="{{media[1].path}}" alt="1{{media[1].alt}}" title={{media[1].title}}/></div>
        </div>
        <ul class="border col-3 ">
            <li class="m-2">Rareté : <span class=""><img src="#" alt="{{ info[0][0].rarity.capitalize() }}" title="" class="w-100"></span></li>          
            <li class="m-2">Edition : <strong>{{ info[0][0].edition.capitalize() }}</strong></li>
            <li class="m-2"> Coût converti de mana : 
              {% if card.ccm == none : %}
                <em>aucun</em>
              {% else : %}
                  <span class="d-flex justify-content-center align-content-center flex-wrap">
                      {% for elm in card.ccm : %}
                          {% if elm in ['0','1','2','3','4','5','6','7','8','9','X'] : %}
                              <img class="col-2" src="../static/img/mana/{{elm}}.png" alt="">
                          {% elif elm in ['R','G','U', 'B', 'W'] : %}
                              <img class="col-2" src="../static/img/mana/{{elm}}.png" alt="">
                          {% endif %}
                      {% endfor %}
                  </span>
              {% endif %}
          </li>
            <li class="m-2">Type : <strong>{{ card.type.capitalize() }}</strong></li>
            {% if info[0][0].legality == "standard" : %}
              <li class="m-2">Légalité : <strong> Standard </strong><br> (Modern - Legacy - Vintage)</li>
            {% elif info[0][0].legality == "modern" : %}
              <li class="m-2">Légalité : <strong> Modern </strong><br> (Legacy - Vintage)</li>
            {% elif info[0][0].legality == "legacy" : %}
              <li class="m-2">Légalité : <strong> Legacy </strong><br> (Vintage)</li>
            {% else : %}
              <li class="m-2">Légalité : <strong> Vintage </strong></li>
            {% endif %}
            <li class="m-2">Date d'impression: {{ info[0][0].creation_date }}</li>

            {% if rating == 0 :%}
            <li id="rating" class="m-2">Rating : <strong>Aucune rating sur cette carte</strong></li>
            {% else : %}
            <li id="rating" class="m-2">Rating : <strong>{{rating}}</strong> {% if count > 1 : %}
                                                                              {{"(" + count|string + " votes)"}}
                                                                              {% else : %}
                                                                              {{"(" + count|string + " vote)"}}
                                                                              {% endif %}</span></li>
            {% endif %}
            <li>
              {% if user_rating == None : %}
              <div class="rating-star">
              <span name="star" class="star" value="1">&#11088</span>
              <span name="star" class="star" value="2">&#11088</span>
              <span name="star" class="star" value="3">&#11088</span>
              <span name="star" class="star" value="4">&#11088</span>
              <span name="star" class="star" value="5">&#11088</span>     
              </div>

              {% elif user_rating == "no_user" : %}
              <a href="{{ url_for('login_page') }}">Connectez vous pour ajouter votre score!!! </a>
              {% else : %}
              <div class="rating-star">
                  {% for i in range(1, 6) : %}
                    {% if user_rating > i : %}
                      <span name="star-user" class="star-user" value="1">&#11088</span>
                    {% elif user_rating == i : %}
                      <span name="star-user" class="star-user" value="1" style="font-size:120%">&#11088</span>
                    {% else : %}
                      <span name="star-user" class="star-user" value="1">&#9734</span>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
              </li>
            <li class="m-2"></li>Popularité : {{card.search}} recherche(s)</li>
            <li class="m-2">Prix moyen : {{sellers_price}}€</li>
            <div>
              <h4>Ajoûter à une de vos recherches</h4> 
              <button class="btn btn-outline-dark" title="Ajoûter à liste de recherches">+ Recherche</button>
            </div>
          </ul>
      {% else : %}
      <h1>Cette carte n'est pas dans notre data base, contactez l'admin</h1>
      {% endif %}
    </article>  
  </section>
  <section class="container">
    <article class="row align-items-center jumbotron">
      <div class="col-6">
        <h1>Règles</h1>
        {% if info != [] : %}
          <ul>
            {% for rule in info : %}
              {% if rule[2].id_card == card.id : %}        
                <li class="m-2"><strong>{{ rule[2].date }}</strong> : {{ rule[2].rule }}</li>
                  {% if username == 'admin' : %}
                  <form action="{{url_for('delete_rulling', name=card.name, id=rule[2].id)}}" method="post">
                    <input onclick="return confirm('Supprimer ce rulling?')" type="submit" value="Supprimer">
                  </form>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </article>
    {% if username == 'admin' : %}
    <form action="{{ url_for('add_rulling', name=card.name) }}" method="post" class="row w-50 justify-content-evenly align-items-center">
      <label class="col-3 m-1" for="input-rulling">Nouveau rulling</label>
      <textarea class="col-6" type="text" id="input-rulling" name="input-rulling" placeholder="Ecrivez ici..." rows="5" cols="33"></textarea>
      <input class="col-2 m-1" type="submit" value="Ajouter">
    </form>
    {% endif %}
  </section>

  {% if comments != [] : %}
    <section class="container">
    <article>
      <ul> 
        {% autoescape on %}                   
        {% for comment in comments: %}
            {% if comment[0].id == comment[0].post_id %}   
                <li>
                <h2>{{ comment[0].title|safe }} </h2>
                <p> POSTE {{ comment[0].content|safe }} </p>
                <div class="flex">
                    <div class="avatar-comment">
                        <img class="resp" src="{{ comment[2].path }}" alt="{{ comment[2].alt }}" title="{{ comment[2].title }}">
                    </div>
                    <p><small><strong> {{ comment[1].username }} </strong> - <em>{{ (comment[0].date | string())[:-7] }}</em></small></p>
                </div>   
                {% if current_user.id_status == 1: %}
                <ul>
                    <li class="inline"><a title="Répondre" type="button" class="wrench" data-bs-toggle="collapse" href="#collapseForm-{{ comment[0].id }}" 
                      role="button" aria-expanded="false" aria-controls="collapseForm">Répondre</a></li>
                    {% if current_user.id == comment[0].id_user : %}   
                        <span class="dot"> . </span>    

                        <li class="inline"><a title="Modifier" type="button" class="wrench" data-bs-toggle="modal" data-bs-target="#comment_modal" 
                          card_id="{{card.id}}" post_id="{{comment[0].id}}" post_title="{{comment[0].title}}"
                          post_body="{{comment[0].content}}" comment_method="1">
                          Modifier</a><span class="dot"> . </span></li>

                          <!-- MODAL COMMENTAIRE -->
                          <div class="modal fade" id="comment_modal" tabindex="-1" aria-labelledby="commentLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="commentLabel"></h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form action="{{ url_for('update_comment', comment_id=comment[0].id, card_id=comment[0].id_card, author_id=current_user.id) }}" method="post">
                                    <div class="modal-input">
                                        <label for="messageTitle" class="col-form-label">Modifier Titre de truc:</label>
                                        <textarea placeholder="Titre du commentaire" type="text" class="form-control message-title" name="message-title" id="messageTitle" style="height:27px;"></textarea>
                                    </div>
                                    <div class="mb-3">
                                      <label for="message-text" class="col-form-label">Modifier Texte:</label>
                                      <textarea placeholder="Text du commentaire" class="form-control" name="message-content" id="message-text" required></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                    </div>
                                  </form>
                                </div>        
                              </div>
                            </div>
                          </div>  
                         
                        <li class="inline"><a title="Supprimer" onclick="return confirm('Voulez-vous supprimer le commentaire suivant: {{ comment[0].title }} ?')"
                            href="{{ url_for('delete_comment', author=current_user.username, card_id=card.id, comment_id=comment[0].id) }}">Supprimer</a></li>   
                                        
                    {% endif %}
                  </ul>
                    <div class="collapse" id="collapseForm-{{ comment[0].id }}">
                      <form action="{{url_for('response_comment', card_id=card.id, comment_id=comment[0].id, author_id=current_user.id)}}" method="post" name="form-reply">
                        <textarea type="text" rows="3" placeholder='Ecrivez la reponse au commentaire' name="collapseForm-textarea" required></textarea>                        
                        <input type="submit" class="button" value="Répondre">
                      </form>
                    </div>
                {% else : %}
                {% if username != "no_user" and (current_user.id_status != 1) %}
                    <p> Votre status est <strong>{{ current_user.status|safe }}</strong>, vous ne pouvez ni poster ni commenter. </p>
                {% elif username == "no_user": %}
                    <a href="{{ url_for('login_page')}}"> Connectez-vous pour répondre </a>
                {% endif %}

  

            {% endif %}  
                         
            <!-- ###################################### SOUS COMMENTAIRE ############################ -->
                <ul>                                                
                  {% for reply in comments: %}
                      {% if reply[0].post_id != reply[0].id and reply[0].post_id == comment[0].id %}
                        <li>
                            <p> SOUS POSTE {{ reply[0].content }} </p>
                            <div class='flex'><div class="avatar-comment"><img class="resp" src="{{ reply[2].path }}" alt="{{ reply[2].alt }}" title="{{ reply[2].title }}"></div><span><small><strong>
                                {{ reply[1].username }}</strong> - <em>{{ (reply[0].date | string())[:-7] }}</em></small> </span></div> 
                            {% if username != "no_user" and (current_user.id_status != 1) %}
                              <p> Votre status est <strong>{{ current_user.status|safe }}</strong>, vous ne pouvez ni poster ni commenter. </p>
                            {% elif username == "no_user": %}
                              <a href="{{ url_for('login_page')}}"> Connectez-vous pour répondre </a>
                            {% elif current_user.id_status == 1: %}
                                <ul>
                                  <li class="inline"><a title="Répondre" type="button" class="wrench"  data-bs-toggle="collapse" href="#collapseFormReply-{{ reply[0].id }}" 
                                    role="button" aria-expanded="false" aria-controls="collapseFormReply">Répondre</a></li>
                                  {% if current_user.id == reply[0].id_user : %}   
                                      <span class="dot"> . </span>  

                                      <li class="inline"><a title="Modifier" type="button" class="wrench" data-bs-toggle="modal" data-bs-target="#reply_modal" 
                                        card_reply_id="{{card.id}}" post_reply_id="{{reply[0].id}}" post_reply_title="{{reply[0].title}}"
                                        post_reply_body="{{reply[0].content}}" reply_method="1">
                                        Modifier</a><span class="dot"> . </span></li>

                                           <!-- MODAL REPLY -->
   
                                          <div class="modal fade" id="reply_modal" tabindex="-1" aria-labelledby="replyLabel" aria-hidden="true">
                                           <div class="modal-dialog">
                                             <div class="modal-content">
                                               <div class="modal-header">
                                                 <label>Modifier : </label>
                                                 <h5 class="modal-title" id="replyLabel"></h5>
                                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                               </div>
                                               <div class="modal-body">
                                                 <form action="{{ url_for('update_comment', comment_id=reply[0].id, card_id=reply[0].id_card, author_id=current_user.id) }}" method="post">
                                                   <div class="mb-3">
                                                     <label for="reply-text" class="col-form-label">Modifier Texte: </label>
                                                     <textarea placeholder="Text du commentaire" class="form-control" name="message-content" id="reply-text" required></textarea>
                                                   </div>
                                                   <div class="modal-footer">
                                                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                       <button type="submit" class="btn btn-primary">Modifier</button>
                                                 </form>
                                               </div>        
                                               </div>
                                             </div>
                                           </div>
                                          </div>
                                      
                                      <li class="inline"><a title="Supprimer" onclick="return confirm('Voulez-vous supprimer la réponse suivante ?')"
                                          href="{{ url_for('delete_comment', comment_id=reply[0].id, author=current_user.username, card_id=card.id ) }}">
                                          Supprimer</a></li>
                                  {% endif %} 
                                </ul>
                                <div class="collapse" id="collapseFormReply-{{ reply[0].id }}">
                                  <form action="{{url_for('response_comment', card_id=card.id, comment_id=comment[0].id, author_id=current_user.id)}}" method="post" name="form-reply">
                                    <textarea type="text" rows="3" placeholder='Ecrivez la reponse au commentaire' name="collapseForm-textarea" required></textarea>                        
                                    <input type="submit" class="button" value="Répondre">
                                  </form>
                                </div>

                          {% endif %}
                        {% endif %}
                    </li>                          
                  {% endfor %}
                </ul>
            </li>
          {% endif %}
        {% endfor %}        
        {% endautoescape %}  
        
    </ul>
    </article>
    </section>
    



  {% endif %}
  <section class="container jumbotron">
    <h1>Rédiger un post</h1>
    <div class="row">
      <div class="col-4">
      <form method="post" action="{{ url_for('add_comment', card_id=card.id, author=current_user.username) }}" id="form-comment">
        <label for="form-title">Titre du nouveau post</label>
        <input name="comment-title" id="form-title" class="form-control mb-2" type="title" placeholder="Ecrivez le titre de votre nouveau post" value="">
        <label for="form-textarea">Nouveau commentaire</label>
        <textarea name="comment-content" id="form-textarea" class="form-control mb-4" rows="3" type="text"  value="" placeholder="Ecrivez votre nouveau commentaire"></textarea>
        <input id="form-submit "type="submit" class="btn btn-primary">
      </form>
    </div>
  </div>
  </section>


<script>
  
  // Check For Form New Post
  const formComment = document.getElementById('form-comment');
  formComment.addEventListener('submit', (e) => {
    const formTitle = document.getElementById('form-title');
    const formBody = document.getElementById('form-textarea');
    const formSubmit = document.getElementById('form-submit');
    if (formTitle.value == "" || formBody.value == "") {
      alert('Merci de compléter les champs manquants');
      e.preventDefault();
    };
  });

  var commentModal = document.getElementById('comment_modal')
  commentModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
    var button = event.relatedTarget

    // Extract info from form comment

    var post_id = button.getAttribute('post_id')  
    var card_id = button.getAttribute('card_id')      
    var post_title =  button.getAttribute('post_title')
    var post_body = button.getAttribute('post_body')
    var comment_method = button.getAttribute('comment_method')
    //
    var modalTitle = commentModal.querySelector('.modal-title')
    var modalBodyInput = commentModal.querySelector('#recipient-comment')
    var modalMessageBody = commentModal.querySelector('#message-text')
    var modalMessageTitle = commentModal.querySelector('.messageTitle')
    
    modalTitle.textContent = " \t " + post_title
    modalMessageBody.textContent = post_body
    modalMessageTitle.textContent = post_title 
    modalBodyInput.value = [comment_method, post_id, card_id]
    console.log(modalBodyInput.value)
});
  
  // Extract info from form reply MODAL
  var replyModal = document.getElementById('reply_modal')
  replyModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
    var button = event.relatedTarget
    var post_reply_id = button.getAttribute('post_reply_id');  
    var card_reply_id = button.getAttribute('card_reply_id');      
    var post_reply_body = button.getAttribute('post_reply_body');
    var reply_method = button.getAttribute('reply_method');
    console.log(post_reply_id, post_reply_id.value);
    //
    var modalReplyBodyInput = replyModal.querySelector('#recipient-reply');
    var modalReplyBody = replyModal.querySelector('#reply-text');
    //var modalReplyTitle = replyModal.querySelector('.reply-title')
    
    //modalTitle.textContent = " \t " + post_title
    modalReplyBody.textContent = post_reply_body;
    modalReplyBodyInput.value = [reply_method, post_reply_id, card_reply_id];
  });

    // Script des Stars
    const ratingSpans = document.querySelectorAll('.star');
    const cardId = document.getElementById('card-name-title');
    ratingSpans.forEach((ratingSpan) => {
    ratingSpan.addEventListener('click', () => {
    ratingValue = ratingSpan.getAttribute('value');
    cardIdValue = cardId.getAttribute('value');
    
    // requete AJAX des Stars
    $.post( "/rating", { rating: ratingValue, id: cardIdValue });

    ratingSpans.forEach((ratingSpan) => {
      if (ratingSpan.getAttribute('value') > ratingValue) {
        ratingSpan.innerText = "\u2606";
      }
      if (ratingSpan.getAttribute('value') == ratingValue) {
        ratingSpan.style.fontSize = "120%";
      }
        ratingSpan.style.transition = "none";
        ratingSpan.style.pointerEvents = "none";
    });
      $('#rating').load(document.URL +  ' #rating');
    });
  });

</script>

</body>
{% include 'footer.html' %}




