{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
    <main>
        <h1>Créer un nouvel utilisateur</h1>
            <!-- message lors d'erreurs -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
        {% for message in messages %}
            <li class="li-error">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <div class="container jumbotron">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
        <!--
        <div class="container jumbotron">                
            <form  action="{{ url_for('register_page') }}" method="post">
                    <label for="username"> Nom d'utilisateur </label>
                    <input type="text" id="newuser" name="username" placeholder="Nom d'Utilisateur" required="required">
                    <label for="username"> Email </label>
                    <input type="email" id="email" name="email" placeholder="Email" required="required">
                    <label for="password"> Password </label>
                    <input type="password" id="password" name="password" placeholder="Password" required="required">
                    <label for="name"> Nom </label>
                    <input type="text" id="name" name="name" placeholder="Nom" required="required">
                    <label for="firstname"> Prénom </label>
                    <input type="text" id="firstname" name="firstname" placeholder="Prénom" required="required">
                    <label for="phone"> Téléphone </label>
                    <input type="phone" id="phone" name="phone" placeholder="Téléphone" required="required">
                    <button type="submit" class="button-admin"> Créer nouvel account </button>
            </form>
        </div>
        -->
    </main>
</body>


{% include 'footer.html' %}