{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
    <main class="container user-main">
        <section>
            <h1 class="text-center"> Votre Profil d'utilisateur: {{ user[0][2].username.capitalize() }}</h1> 
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li class="li-error">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %} 
        </section> 
        <section class="mt-5">
            <h2 class="text-center">Votre Avatar</h2>    
            <turbo-frame id='avatar-stream'>           
                <div class="avatar">
                    <img class="avatar-logo" src="{{ user[0][3].path }}" alt="{{ user[0][3].alt}}" title="{{ user[0][3].title }}">
                </div>
            </turbo-frame>
            <div class="d-flex justify-content-center align-items-center w-100" id="avatarForm">
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "dark"}) }}
            </div>
        </section>
        <section class="container mt-3">
            <h2 class="text-center">Données personnelles</h2>
            <ul class="row">   
                <div class="col-5"></div>
                <form class="col-6" name='user-form' id='user-form' method="post" action="{{ url_for('user_page', username=user[0][2].username) }} ">
                    <li class="w-100 d-flex align-items-center m-1"><label> Nom d'Utilisateur : {{ user[0][2].username }}</label></li>
                    <li class="w-100 d-flex align-items-center m-1"><label>Nom :</label><input class="user-form-input" disabled name="name" type="text" value="{{ user[0][2].name }}" placeholder="Nom"></li>
                    <li class="w-100 d-flex align-items-center m-1"><label> Prénom : </label><input class="user-form-input" disabled name="lastname" type="text" value="{{ user[0][2].lastname }}" placeholder="Prénom"></li>
                    <li class="w-100 d-flex align-items-center m-1"><label> Email </label><input class="user-form-input" disabled name="email" type="text" value="{{ user[0][2].email }}" placeholder='Email'></li>
                    <li class="w-100 d-flex align-items-center m-1"><label> Tél : </label><input class="user-form-input" disabled name="phone" type="text" value="{{ user[0][2].phone }}" placeholder="Tél"></li>
                    <li class="w-100 d-flex align-items-center m-1"><label> Code Postal : </label><input class="user-form-input" disabled name="zipcode" type="text" value="{{ user[0][2].zipcode }}" placeholder="Zipcode"></li>
                    <div class="flex jumbotron"><label for="checkbox-input"><em>Modifier vos données personnelles</em></label>
                    <input title="Modifier les datas user" type="checkbox" id="checkbox-input" onchange="javascript:ableInput()">
                    <button disabled hidden type="submit" id="form-submit">Mettre à jour</button></div>
                </form>
            </ul>
        </section>
        </section>
        <section>
            <h2> Mes dernier posts </h2>
            <ul> 
                {% autoescape on %}                   
                {% for post in user: %}   
                    {% if post[0].post_id == post[0].id and post[0].title != none : %}
                        <li>
                            <h3><a href="{{ url_for('card_page', name=post[1].name)}}"> {{ post[0].title }} </a></h3>
                            <p>{{ post[0].content|safe }}</p>
                            <div class='flex'><div class="avatar-comment"><img class="resp" src="{{ post[3].path }}" alt="{{ post[3].alt }}" title="{{ post[3].title }}"></div><span><small><strong>
                                {{ post[1].username }}</strong> - <em>{{ (post[0].date | string())[:-7] }}</em></small> </span></div>                           
                            <hr>
                        </li>
                    {% endif %}
                {% endfor %}       
                {% endautoescape %}                         
            </ul>
    </section>

</main>
</body>



<script>
    
// active - desactive le form des datas user
function ableInput() {
    const buttonInput = document.getElementById('form-submit');
    const formInput = document.querySelectorAll('form input[type="text"]');

    for (var i = 0; i < formInput.length; i++) {
        formInput[i].disabled = !formInput[i].disabled;
    }

    
    if (buttonInput.hasAttribute('disabled')) {
        buttonInput.disabled =! buttonInput.disabled;
        }

    if (buttonInput.hasAttribute('hidden')) {
        buttonInput.removeAttribute('hidden');
    }

    else {
        buttonInput.hidden = true;
    };
    
buttonInput.addEventListener('click', () => {
    buttonInput.removeAttribute('hidden');
})

  };


const formAvatar = document.getElementById('file');
const btnAvatar = document.getElementById('submit');
btnAvatar.addEventListener('click', () => {
    if (formAvatar.value == "") {
        btnAvatar.disabled = true;
        alert('Image requise')
        }
    } 
);

formAvatar.addEventListener('input', () => {
    if (formAvatar.value != "") {
        btnAvatar.disabled = false;
        }
    } 
);

  
</script>




</html>



{% include 'footer.html' %}