{% include 'header.html' %}

<main>
  <section class="container">
    <h1 class="text-center"> Mot de passe oublié? </h1>
    <form action="{{url_for('forgotten_password_page') }}" method="post" class="text-center w-100">
      <div class="d-flex align-items-center">
        <label class="m-3" for="input-user">Entrez votre nom d'utilisateur ou mot de passe ici :</label>
        <input class="m-3" id="input-user" name="input-user" type="text" placeholder="Ecrivez ici...">  
        <input class="" type="submit" value="Renvoyer password">
      </div>
    </form>
  </section> 
  
</main>

{% include 'footer.html' %}
