{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
    <main class="container user-main">
        <section>
            {% include 'includes/_flash_messages.html' %} 
            <h1 class="text-center mt-5"> Mon Profil</h1> 
        </section> 
    <div class="row mt-3 container justify-content-center">
        <section class="col-5">
            <h2 class="text-center">Mon Avatar</h2>    
            <turbo-frame id='avatar-stream'>           
                <div class="avatar">
                    <img class="avatar-logo" src="{{ user[1].path }}" alt="{{ user[1].alt}}" title="{{ user[1].title }}">
                </div>
            </turbo-frame>
            <div class="d-flex justify-content-center align-items-center w-100" id="avatarForm">
                <form class="w-100" action="{{ url_for('user_update_avatar_page', username=username) }}" enctype="multipart/form-data" method="post" >
                    {{ wtf.quick_form(form_avatar, novalidate=True, button_map={"submit": "dark"}) }}
                </form>
            </div>
        </section>
        <section class="col-5">
            <h2 class="text-center">Mes données personnelles</h2>
            <ul class="row w-100 m-auto mt-3">   
                <li class="col-11 offset-1 mt-3"> Nom d'Utilisateur : <strong>{{ user[0].username }}</strong></label></li>
                <li class="col-11 offset-1 mt-3"> Nom : <strong>{{ user[0].name }}</strong></li>
                <li class="col-11 offset-1 mt-3"> Prénom : <strong>{{ user[0].lastname }}</strong></li>
                <li class="col-11 offset-1 mt-3"> Email : <strong>{{ user[0].email }}</strong></li>
                <li class="col-11 offset-1 mt-3"> Tél : <strong>{{ user[0].phone }}</strong></li>
                <li class="col-11 offset-1 mt-3"> Code Postal : <strong>{{ user[0].zipcode }}</strong></li>
                <a class="col-8 offset-1 mt-3" href="{{ url_for('user_update_profil_page', username=username) }}">Mettre à jour</a>
            </ul>
        </section>
    </div>
        <hr>
        <section>
            <h2 class="text-center"> Mes dernier posts </h2>
            <ul> 
                {% autoescape on %}                   
                {% for post in comments: %}   
                    {% if post[0].post_id == post[0].id and post[0].title != none : %}
                        <li>
                            <h3><a href="{{ url_for('card_page', name=post[1].name)}}"> {{ post[0].title }} </a></h3>
                            <p>{{ post[0].content|safe }}</p>
                            <div class='flex'><div class="avatar-comment"><img class="resp" src="{{ user[1].path }}" alt="{{ user[1].alt}}" title="{{ user[1].title }}"></div><span><small><strong>
                                {{ post[1].username }}</strong> - <em>{{ (post[0].date | string())[:-7] }}</em></small> </span></div>                           
                            <hr>
                        </li>
                    {% endif %}
                {% endfor %}       
                {% endautoescape %}                         
            </ul>
    </section>


</main>
</body>



<script>
    
// active - desactive le form des datas user
function ableInput() {
    const buttonInput = document.getElementById('form-submit');
    const formInput = document.querySelectorAll('form input[type="text"]');

    for (var i = 0; i < formInput.length; i++) {
        formInput[i].disabled = !formInput[i].disabled;
    }

    
    if (buttonInput.hasAttribute('disabled')) {
        buttonInput.disabled =! buttonInput.disabled;
        }

    if (buttonInput.hasAttribute('hidden')) {
        buttonInput.removeAttribute('hidden');
    }

    else {
        buttonInput.hidden = true;
    };
    
buttonInput.addEventListener('click', () => {
    buttonInput.removeAttribute('hidden');
})

  };


const formAvatar = document.getElementById('file');
const btnAvatar = document.getElementById('submit');
btnAvatar.addEventListener('click', () => {
    if (formAvatar.value == "") {
        btnAvatar.disabled = true;
        alert('Image requise')
        }
    } 
);

formAvatar.addEventListener('input', () => {
    if (formAvatar.value != "") {
        btnAvatar.disabled = false;
        }
    } 
);

  
</script>




</html>



{% include 'footer.html' %}